*{
    margin: 0px;
    padding: 0px;
}

.container-first {
    height: 745px;
    width: 100%;
    background-color: #fcfbfc;
}

header {
    display: flex;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.myLogo {
    margin-left: 15%;
    margin-top: 23px;
}

.header-nav {
    display: flex;
    /* justify-content: space-between; */
}

.nav {
    display: flex;
    margin-top: 39px;
    margin-left: 480px;
    margin-right: 267px;
    list-style: none;
}


.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 35px;
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    transition: 0.5s;
}

.nav__link:hover {
    color: #303941;
}

/*Header logo and nav link
-------------------------------*/

.header-intro-title {
    color: #3f3b48;
    font-size: 56px;
    font-family: 'Pacifico', cursive;
    vertical-align: top;
    float: left;
    margin-left: 680px ;
    margin-top: 65px;
}

.header-intro_text {
    text-transform: uppercase;
    font-size: 56px;
    font-family: 'Kenyan-Coffee-Regular';
    font-weight: bold;
    position: absolute;
    margin-left: 630px;
    margin-right: 25%;
    margin-top: 65px;
    color: #3f3b48;
}

#Big-title-red-text {
    text-transform: uppercase;
    font-size: 122px;
    color: red;
    font-family: 'Kenyan-Coffee-Regular';
}

/*Ipad and Iphone Browser
---------------------------*/

.IpadIphone {
    position: relative;
    top: 375px;
    right: 550px;
    position: absolute;
    z-index: 2;
}

.Mountain {
    position: relative;
    top: 450px;
    right: -250px;
    position: absolute;
    z-index: 1;
    width: 2200px;
}

/*second container
----------------------*/

.secondContainer {
    width: 2300px;
    height: 820px;
    top: 745px;
    right: -200px;
    position: absolute;
    background-color: #3f3b48;
    z-index: 3;
}

.header-intro-second {
    color: #ffffff;
    font-size: 52px;
    font-family: 'Pacifico', cursive;
    vertical-align: top;
    float: left;
    margin-left:1030px ;
    margin-top: 55px;
}

.header-intro_text2 {
    text-transform: uppercase;
    font-size: 52px;
    font-family: 'Kenyan-Coffee-Regular';
    font-weight: bold;
    position: absolute;
    margin-left: 1000px;
    margin-right: 25%;
    margin-top: 65px;
    color: #ffffff;
}

#Big-title-text {
    text-transform: uppercase;
    font-size: 104px;
    color: rgb(255, 255, 255);
    font-family: 'Kenyan-Coffee-Regular';
}

.block-title {
    color: #ffff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 1022px;
    margin-left: 500px;
    margin-top: 300px;
}

.paragraph__text {
    margin-right: 1420px;
    margin-left: 500px;
    margin-top: 50px;
    color: #fff;
}

.icontrophy {
    margin-right: 1420px;
    margin-left: 500px;
    margin-top: 50px;
    cursor: pointer;
}

.iphone {
    position: relative;
    top: 235px;
    right: 1020px;
    position: absolute;
}

.application {
    position: relative;
    top: 310px;
    right: 520px;
    position: absolute;
    cursor: pointer;
}

hr {
    margin: -30px auto 10px;
	padding: 0;
	height: 70px;
	border: none;
	border-bottom: 1px solid #b6b6b6;
	box-shadow: 0 30px 30px -20px rgb(111, 109, 109);
	width: 95%;
}

.pagination {
    position: relative;
    top: 680px;
    right: 945px;
    position: absolute;
    cursor: pointer;
}

/*Theerd container
---------------------------*/

.third-block__container {
    width: 3050px;
    height: 1600px;
    top: 745px;
    right: -200px;
    position: absolute;
    background-color: #ffffff;
}

.header-intro_text3 {
    margin-left: 1720px;
    font-size: 104px;
    color: red;
    margin-top: 900px;
    text-transform: uppercase;
    font-family: 'Kenyan-Coffee-Regular';
}

#Big-title-text3 {
    color: #3f3b48;
    text-decoration: underline;
}

#img1-in3 {
    margin-top: 70px;
    margin-left: 1220px;
}

.img2-in3 {
    margin-top: 70px;
    margin-left: 270px;
    position: absolute;
}

#img3-in3 {
    margin-top: 70px;
    margin-left: 800px;
}

.red-text{
    color: var(--red)
}

.bottom-threed {
    display: block;
    width: 200px;
    padding: 20px 0;
    margin: 0 auto;
    border-radius: 60px;
    background: red;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1820px;
    margin-top: 100px;
    font-size: 16px;
    transition: .1s linear background, .2s ease color;
}

.buttom-threed:hover {
    color: #fff;
}

#Skyline {
    margin-left: 1000px;
}

